@page "/login"
@using MudBlazor
@using Newtonsoft.Json
@using System.Text
@using esWMS.Client.Services
@using esWMS.Client.Services.Auth
@using esWMS.Client.ViewModels
@using esWMS.Client.ViewModels.SystemActors
@inject ISnackbar Snackbar
@inject HttpClient HttpClient
@inject IAlertService AlertService
@inject IAuthService AuthService
@inject NavigationManager Navigation

<div style="display: flex; justify-content: center; align-items: center; height: 75vh;">
    <MudCard Class="pa-4" Style="width: 400px;">
        <MudCardContent>
            <MudText Typo="Typo.h5" Align="Align.Center" Class="mb-8">Logowanie</MudText>
            <MudForm @ref="_form" @onkeypress="HandleKeyPress" Spacing="4">
                <MudTextField @bind-Value="_loginModel.EmployeeId"
                              Label="Identyfikator pracownika"
                              Variant="Variant.Filled"
                              Margin="Margin.Dense"
                              Required
                              Immediate
                              For="@(() => _loginModel.EmployeeId)"
                              AutoFocus />

                <MudTextField @bind-Value="_loginModel.Password"
                              Label="Hasło"
                              Variant="Variant.Filled"
                              Margin="Margin.Dense"
                              InputType="InputType.Password"
                              Required
                              Immediate
                              For="@(() => _loginModel.Password)" />

                <MudSpacer />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="LogIn">
                    Zaloguj
                </MudButton>
            </MudForm>
        </MudCardContent>
    </MudCard>
</div>


@code {
    private MudForm _form;
    private EmployeeLoginVM _loginModel = new EmployeeLoginVM();

    private async Task LogIn()
    {
        var postJson = new StringContent(JsonConvert.SerializeObject(_loginModel), Encoding.UTF8, "application/json");

        using var request = new HttpRequestMessage(HttpMethod.Post, @"api/v1/Employee/login");
        request.Content = postJson;

        var response = await HttpClient.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            var empl = JsonConvert.DeserializeObject<LogedEmployee>(content);
            await AuthService.Login(empl);
            Navigation.NavigateTo("/", true);
        }
        else
        {
            await response.HandleFailure(AlertService);
        }
    }

    private async Task HandleKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await LogIn();
        }
    }
}
