@page "/generate-pdf"
@inject IJSRuntime JSRuntime

<h3>Generowanie PDF</h3>
<button @onclick="GeneratePDF">Generuj PDF</button>

<div id="printableArea">
    <div class="qr-code-container">
        <div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB9ElEQVR4nO3aUY7CMAyE4d5g73/LvcFuQaAkdgqLYFtX&#x2B;vKABApTaTT&#x2B;nRiWnw&#x2B;t74USn6RAtWABZuoIOqdzgfOT06FTtDuCu5Sbohu1eYG5iqmR6ZrZoRnrGSfIS1xfl8/Wl8dbKPFJClQLFpRhZvjWoDQXpsQnKVAtWFCMmaEZzOVm/YISn6RAtWBBTWau67ItfkaJT1KgWrDgJMy87l2VPtJbKPFJClQLFvw3MzffPttCiU9SoFqw4Hhm5p9D00veQolPUqBasKAIM2frNqHZaBD9osQnKVAtWHA8M/NAPX0W2sJWR6DEJylQLVhwLDMHkdQbhnM/JT5JgWrBgkrMbC9tzbY87wiU&#x2B;CQFqgULdmbmrA8kkbb54T9fKPFJClQLFuzPzLYj7E2PuHeE8TmU&#x2B;CQFqgULCjAzCd9FwnPSW0p8kgLVggVHM7MfyrRZegD/IEKJT1KgWrCgFjNnuM&#x2B;n&#x2B;P45lPgkBaoFC4oxM2xr7aGJBDlKfJIC1YIFhZnZf7/9L&#x2B;b21c1JOyU&#x2B;SYFqwYIqzAxjmvSIV3oLJT5JgWrBgh2YORPuxzR//Cc6JT5JgWrBgiOYGVaetKdWQYlPUqBasKAOM99blPgkBaoFCzBTR9A5nQucn5wOnaLdEdyl3BTdqM0LzFVMjUzXzA7NWE80Qf4FHlrLN8h7jToAAAAASUVORK5CYII=" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MPR/B/01/A/1/1</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB80lEQVR4nO3bUWrDMBAEUN/A97&#x2B;lb9CUgipZu3ahCdEGnj5KbZQJDDOzq429fb1oHRskPFEBt8gCmakiqJz6Av2T7lAX7YzgLOWk6ERtXmCuYmpkumZ2aMb6iRPkbV77772f//Z8CyQ8UQG3yIIymdnvt8t&#x2B;b7oMn4CEJyrgFllQIjMvS8DlFkh4ogJukQXVM/N&#x2B;CyQ8UQG3yILSmZm195DwRAXcIgvKZmZ&#x2B;eYyd/dUWSHiiAm6RBaszM/4cGv7ELZDwRAXcIguKZGa28i4&#x2B;W5DwRAXcIgvWZ&#x2B;aRDNlPTX0oC1cVARKeqIBbZMGKzGwlYALulzdVAhKeqIBbZMH6zIwVoa8R7vhHbYGEJyrgFlnwpswMO9pH9&#x2B;TLIOGJCrhFFlTKzO8VtjX0ANerBCQ8UQG3yII6mRmAT9OYqV488eQLJDxRAbfIgpdn5jSSyd4MHTffvlEECU9UwC2yYEVmZq8LnUYy4zdCwhMVcIssqJiZeSvfysJUKiDhiQq4RRZUz8xp0j6N28cCAglPVMAtsqBiZo4gvds/fQISnqiAW2RBpcwMwLG9//tJdEh4ogJukQVrMnNa2Uuhp&#x2B;cbIeGJCrhFFlTKzOcWJDxRAbfIApmpIqic&#x2B;gL9k&#x2B;5QF&#x2B;2M4CzlpOhEbV5grmJqZLpmdmjG&#x2B;kET5Afz&#x2B;pK9eshhDgAAAABJRU5ErkJggg==" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MPR/B/17/R/3/1</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB7ElEQVR4nO3bbarCQAyF4e7A/e/SHSiIw0yT&#x2B;HHxWiI886PY0p4fh&#x2B;RNJq3b5Z/WeaPEJ1EgW7AAM1UElVNfoH/SHeqi7RHspewU7ajNC8xVTI1M18wOzVh/cYK8xXXaXwun4xolPokC2YIFbZg5r4/T6lA/QYlPokC2YEELZq70n4&#x2B;e99d2t1DikyiQLViAmSqCyqkv0D/pDr/ZRc8HKPFJFMgWLOjOzHQ6isGTWyjxSRTIFixowszqjWk4fPDulRKfRIFswYLvMrNat9uf30KJT6JAtmBBG2bmgfr92pCrvmqkxCdRIFuwoAkz1&#x2B;eHcDpc/jazp8QnUSBbsOBIZlbgz9/AhPJBiU&#x2B;iQLZgQRNmpjoQqkQWocQnUSBbsKAXM8O9Y62n8xuYuQOgxCdRIFuwoAkz86o/PX&#x2B;ztlDikyiQLVhwKDPXIhCGM7tiQIlPokC2YEFXZj78u1CoEqOpp8QnUSBbsKAdM6tisJaA7b13r5T4JApkCxb0YObDzxjXX5T4JApkCxa0ZWaoA9W//inxSRTIFizoxMwkPF&#x2B;Rjh5/HijxSRTIFizoxcz8xrT&#x2B;h//rikCJT6JAtmDB8cz8bFHikyiQLViAmSqCyqkv0D/pDnXR9gj2UnaKdtTmBeYqpkama2aHZqw/NEG&#x2B;AnuXPLi1J5kwAAAAAElFTkSuQmCC" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MPT/P/01/A/1/1</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB&#x2B;UlEQVR4nO3bbY7CMAxF0e6g&#x2B;98lO2Ck0pA0MRSYYepKJz8QH8mrZPldJ26Zrn80LhMlcZIF3IIFmKkiqJz2BfZPdod20c4IzlJOik7U&#x2B;gX6KrpGumt6h3qsZ&#x2B;wgT/2Y798t7&#x2B;Z4CiVxkgXcggVpmFm/7z5eptu8p1MoiZMs4BYsSMDMoQREL5splMRJFnALFqRm5mYDT0mcZAG3YMHJmDn8SkmcZAG3YEFuZsZLNxUhXkFJnGQBt2DB8cyM7phGzZn9O6aUxEkWcAsW/D8zoxG1aeJBSZxkAbdgwfHMXB5wKS8B829jffekQ0NJnGQBt2DBEcxcp5U60C6t1ynzKImTLOAWLEjHzI70nUhXDNorUhInWcAtWJCCme36Qv&#x2B;2GDwUoSROsoBbsCAdM5ePtUMTKdV6QUmcZAG3YEEKZkZjldts6j998oWSOMkCbsGC7zKznVGmtUrLlBd39pTESRZwCxYcwczdfxTVKw4rKImTLOAWLEjBzLYYzHtPNVISJ1nALViQnZlxMRgb75TESRZwCxbkZGa7vk6JrkNJnGQBt2BBCmYOwvW/ReO/jCiJkyzgFizIxcxudPdEu3lv3nulJE6ygFuw4NvM/N2gJE6ygFuwADNVBJXTvsD&#x2B;ye7QLtoZwVnKSdGJWr9AX0XXSHdN71CP9UQd5B8SX6gPd0TvhQAAAABJRU5ErkJggg==" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MPT/P/01/A/1/2</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB70lEQVR4nO3bUW7DMAwD0Nwg979lb7AVQ1c7ktyfdosCPH8MaOewAEFSspJsXx9atw0SnqiAW2SBzFQRVE59gf5Jd6iLdkZwlnJSdKI2LzBXMTUyXTM7NGO94gR5i2t/fre/2AIJT1TALbKgTWaO78PH2xP4xRZIeKICbpEFDTJzLgbj430tt0DCExVwiyxonZlLdEh4ogJukQUXyMzHPz5QESDhiQq4RRb8S2bWwAek&#x2B;gpIeKICbpEF52dmWKG93&#x2B;stkPBEBdwiC5pkZrXm9v5QDNKChCcq4BZZcH5m3h9wGX&#x2B;Wq34QBhKeqIBbZMHZmRn2jgvm3znsg4QnKuAWWdArM8Pt0Ayc0OdqAglPVMAtsuDszMwN/HzpEgQSnqiAW2RBk8zMr4KmWU1u9CHhiQq4RRY0ycxqpedd8mtFkPBEBdwiC5pkZujsxwXpFmkoBpDwRAXcIguaZGb1RlEeztRPNULCExVwiyxokZmhga9LxU&#x2B;VgIQnKuAWWXCBzExlYYD87oOEJyrgFlnQODPHVWHLG7UFEp6ogFtkwR9mZgIOd0cXsxpIeKICbpEFHTIzrOqCsS88kw4JT1TALbLg7Mx8b0HCExVwiyyQmSqCyqkv0D/pDnXRzgjOUk6KTtTmBeYqpkama2aHZqwXmiB/A5O5rir2lU&#x2B;&#x2B;AAAAAElFTkSuQmCC" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWS/A/01/A/1/1</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB&#x2B;ElEQVR4nO3cUW7CMBAE0NyA&#x2B;9&#x2B;SG7QVCGyv1xEVVb1Izx9IJM5QjWbG603S4&#x2B;uPxvWAhCcq4BZZIDOtCFZOdYH6SXWoirZHsJeyU7Sj1i/QV9E10l3TO9Rj/cQO8hHH5T7jZ8rtYzkFEp6ogFtkQZHMbMfb12t/VT4FEp6ogFtkQZ3MDFf1cO1YBgwJT1TALbKgYmY2kJMpkPBEBdwiC8pmZn4MEp6ogFtkQdnMfKnQz66AhCcq4BZZsD8zwwjLwiWfAglPVMAtsqBIZuZjePLldB4kPFEBt8iC3ZnZHlRcLAbh3ikkPFEBt8iCWpl5A2kV&#x2B;&#x2B;Phxf7EcBYSnqiAW2RBpczMGzHLp2FOez2Q8EQF3CIL/j8zn4fmV0HDfdKhxoeEJyrgFllQKTPDOtCjD4tG8gdAwhMVcIssKJCZE3B4eHF5AxUSnqiAW2TB7szs&#x2B;zJzQz27bQoJT1TALbKgVmaevC50H&#x2B;Olyw4NJDxRAbfIgm2Z2Xdo5nq&#x2B;jeTHIOGJCrhFFtTLzP5EaLL/ckWAhCcq4BZZsCczwytEL71RBAlPVMAtsmBbZk7Aw/XZP8SFhCcq4BZZUCYzwwivhwaQNgUSnqiAW2RBicx8b0DCExVwiyyQmVYEK6e6QP2kOlRF2yPYS9kp2lHrF&#x2B;ir6Brprukd6rF&#x2B;UAf5G1NuZ5t0Hs/xAAAAAElFTkSuQmCC" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWS/A/01/A/1/2</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB&#x2B;0lEQVR4nO3bYW7CMAyG4d6A&#x2B;99yNxhTKErquoVtoBjpyQ9ES/ohWfYb51O6fL9ofC2UxEkWqBYswEwrgpVTX6B/0h3qou0R7KXsFO2o&#x2B;QV8Fa4Rd413yGP9RAd5ieNym/EzpX0cTqEkTrJAtWBBEWb2&#x2B;5vL9q1/5E9QEidZoFqwoAQzO&#x2B;nzy/09SuIkC1QLFhRmZmvqz9UpiZMsUC1YUJiZwYihJE6yQLVgQXVmZsKj0/5nr4eSOMkC1YIF72dmGMGXueRTKImTLFAtWFCEmfm4LwaP51ESJ1mgWrBgNjM3DXxmt6/f9mdgKImTLFAtWFCBmU2kPZCph34&#x2B;LBWUxEkWqBYsmM3MjPnjinBwGoaSOMkC1YIFRZgZ6D/euytl/0hJnGSBasGCIsw8f48ozNsNSuIkC1QLFsxmZjbGY4zrA8OBRkriJAtUCxZUYubopQf7JWiGpp6SOMkC1YIFRZiZNfDdVe/LwvrouUNDSZxkgWrBghnMzM2ZjVzXpCROskC1YEF1Zo6HXkK3/8sVgZI4yQLVggVzmLn59ck3iiiJkyxQLVgwjZmZ8Ej/cJbxea&#x2B;HkjjJAtWCBe9nZhj9BdCD4&#x2B;iUxEkWqBYsqMTM/w1K4iQLVAsWYKYVwcqpL9A/6Q510fYI9lJ2inbU/AK&#x2B;CteIu8Y75LF&#x2B;kIN8BaSyY54jPeFrAAAAAElFTkSuQmCC" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWS/A/01/A/2/1</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAACAklEQVR4nO3bbW6DQAxFUXbQ/e&#x2B;SHTQVDRrPBzRSE8ZIZ35ESTM8JOv52uOG5ftNa10oiRMXyBYswEwVQeXUF&#x2B;ifdIe6aGcEZyknRSdq8wJzFVMj0zWzQzPWO06Ql3Z9ddtPtlASJy6QLVgwn5nVpdvH0cv4CkrixAWyBQtSMLOQPl661n&#x2B;rtlASJy6QLViQmJnPLxp1SuLEBbIFC&#x2B;7DzK0Y/Kzzm1ESJy6QLViQhJmjj2&#x2B;Z9VASJy6QLVjweWY2azRp77dQEicukC1YkISZ47We/BCm3kdJnLhAtmDBbGaWacz&#x2B;L9Lt3fOlWmVqQ0mcuEC2YEEaZu47oki5RTWwad5REicukC1YkISZZcdoVhMb/b8qAiVx4gLZggUXM7P7qcteEeKlB7WBkjhxgWzBgvnMjMVgrwiHBaLRpCROXCBbsCAJMzvh0sBXM/cXzwiUxIkLZAsWXMfMyPwC/ri3auopiRMXyBYsSMfM/nGhppXv7vj6s0mUxIkLZAsWXMLMsmP8ZGj5lpI4cYFswYIbMHP0HFEzh6ckTlwgW7AgOzPjVQcPGFESJy6QLViQhJmdcPUrl5PH/CmJExfIFiyYz8xmxfHL74p3bMoCJXHiAtmCBbOZ&#x2B;b9FSZy4QLZgAWaqCCqnvkD/pDvURTsjOEs5KTpRmxeYq5gama6ZHZqx3miC/AA7MAe9o0UA/QAAAABJRU5ErkJggg==" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWS/A/01/A/2/2</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB&#x2B;UlEQVR4nO3dYW6DMAyGYW6w&#x2B;9&#x2B;yN9gkWmRip3TSJjDSk19LG75Wlv3G&#x2B;Qra8v1P47FQEidZoFqwADPtCHZOfYH&#x2B;SXeoi3ZGcJZyUnSi5hfwVbhG3DXeIY/1jg7yksfXc8VzyTqdL6EkTrJAtWBBE2bG68Olq9xrWpdQEidZoFqwoBMzg/R7pXi3LqEkTrJAtWBBY2Ym8FMSJ1mgWrDgdsxcm/q0LVASJ1mgWrCgLTNn09lfZUpJnGSBasGC65mZRlgyyZwZllASJ1mgWrCgCTMPxvaL6eESSuIkC1QLFlzNzHBjHuMdjNttjDHCtaEkTrJAtWBBE2YWkeG1/bqZYUNJnGSBasGCJszcVqRfTMv0845ASZxkgWrBglOZGXJl2dv94sBppyROskC1YMHpzIyn&#x2B;Yexf3ewbiiJkyxQLVjQi5l1pPtd0oeN34KSOMkC1YIF1zIz7QMj7t9Y8JTESRaoFizoxMz6uNCsx//c2VMSJ1mgWrDgMmbGZjC7IPX4lMRJFqgWLOjOzKQZcuXudEriJAtUCxa0Zeb&#x2B;qvpsESVxkgWqBQs6MfNX/5Fi9sA/JXGSBaoFC65nZhozXyY&#x2B;8bCzpyROskC1YMH5zPzboCROskC1YAFm2hHsnPoC/ZPuUBftjOAs5aToRM0v4KtwjbhrvEMe640c5B8YMM0WnVF1AAAAAABJRU5ErkJggg==" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWS/B/01/A/1/1</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB&#x2B;0lEQVR4nO3cYW7CMAyG4d5g978lN&#x2B;gmKEobm4KA1an05MdER/iQLPuN85F2mr80LhMlcZIFqgULMNOKYOXUF&#x2B;ifdIe6aHsEeyk7RTtqfgFfhWvEXeMd8ljP6CBP/fi5zfibclku8ymUxEkWqBYsGISZ7f&#x2B;by&#x2B;tn9qdQEidZoFqwYBBmNtK3P&#x2B;sVIU6hJE6yQLVgwcDMXEQ6dUriJAtUCxachZmdEUNJnGSBasGC0ZmZCXedff4JSuIkC1QLFtQzsxsbm&#x2B;bT314piZMsUC1Y8N/MzMd9MXg&#x2B;j5I4yQLVggXVzLyeVpzzJSCcZezUKYmTLFAtWFDNzO6US37epfXz96&#x2B;lJE6yQLVgwSDMzJaFna947tBQEidZoFqw4Hhmrlv5Jtzo3y4764aSOMkC1YIF9cyMTX1T716FQUmcZIFqwYJ6ZsaRuTG5HCVxkgWqBQuqmbn20h8Y6otIdhqGkjjJAtWCBfXMfHC70PreovkVp52SOMkC1YIFZcxsM8LjWjZybzwrgJI4yQLVggXHMzO8kTX/lMRJFqgWLBiYmdktRC85NJTESRaoFiyoYGYQ3qhnD8SlJE6yQLVgwTDM3GnbpyCy29lTEidZoFqw4HhmfjYoiZMsUC1YgJlWBCunvkD/pDvURdsj2EvZKdpR8wv4Klwj7hrvkMd6Igf5F6eeSk/FpwgRAAAAAElFTkSuQmCC" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWS/B/99/N/9/5</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB&#x2B;0lEQVR4nO3bYW6DMAyGYW7Q&#x2B;9&#x2B;yN2iltijBSaDSOmKkJz&#x2B;mgeDb9Ml&#x2B;7RhYHj9a94USn0SBbMECzFQRVE59gf5Jd6iLtkewl7JTtKM2LzBXMTUyXTM7NGO94gR5iev2vuL92&#x2B;dH7xJKfBIFsgULkjCznF8Py7lw2NxBiU&#x2B;iQLZgQQpmFtLXIptzvUso8UkUyBYsyMnM0MVT4pMokC1YcEVmvsY0&#x2B;0WDEp9EgWzBgiTMHB4eXUKJT6JAtmDBfGaGVcrCD569UuKTKJAtWPDfzOytoLSzKPFJFMgWLJjPzNcg5t6vCPW7jJupDSU&#x2B;iQLZggVJmFmuGA5iPpccVQRKfBIFsgUL5jCzfeu8//75cUWgxCdRIFuw4Hxm1k390u/xy7mmclDikyiQLVgwn5mr3LAsDJt/SnwSBbIFC9Iwc7Pq&#x2B;zd/p/MPUOKTKJAtWDCXmXVbv/bzRa5p6sPMnRKfRIFswYL5zGyfk4aHpZT4JApkCxZkZ2YpBuETokZ9Z9JOiU&#x2B;iQLZgQSpmhrtC30&#x2B;JT6JAtmBBYmbWIr33Yr6vCJT4JApkCxacwsxGeKD55TvtlPgkCmQLFpzJzLDC96Dl&#x2B;//wNgwlPokC2YIFKZj5t0WJT6JAtmABZqoIKqe&#x2B;QP&#x2B;kO9RF2yPYS9kp2lGbF5irmBqZrpkdmrFeaIL8BM3SJydBpIOEAAAAAElFTkSuQmCC" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWT/W/01/A/1/1</p>
        </div><div class="qr-code-item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAkQAAAJEAQAAAADfmwb3AAAB80lEQVR4nO3bUW6DMBCEYW7Q&#x2B;98yN0hVBMHsGpqmTb1Inx&#x2B;qgmAijWZ/2wtM9z8at4kSn6RAtWABZpoRzJzWBdZPVodW0fYI9lJ2inbU&#x2B;gX6KrpGumt6h3qsV&#x2B;wgT3F8fJ0Lf/IllPgkBaoFC8owczu/Hs6Xt4f5Ekp8kgLVggWVmJkmg1npls4lYUp8kgLVggVlmdk/R4lPUqBasOASzDxs01DikxSoFiyoyMzeYf/WcAclPkmBasGC8cys&#x2B;OyVEp&#x2B;kQLVgwbPM7I1A35NBiU9SoFqwYDwz84PRvvD3MwIlPkmBasGCQcxc5GaR9XARWYUp8UkKVAsWFGZmGJtS&#x2B;2PhP0p8kgLVggVFmHn&#x2B;WdFO5PTNF0p8kgLVggUjmJk&#x2B;BV3X7ptSeBvmaEagxCcpUC1YMIKZvdF/ZfGpuYUSn6RAtWDBPzMztWfyJ0SPuyjxSQpUCxZUZOYB/UNXvV3eU&#x2B;KTFKgWLCjGzDQZ5K8w2zdkKPFJClQLFtRmZvtC43JDfLWREp&#x2B;kQLVgQWFmpqeou77MC3MLJT5JgWrBgvcysyecvjK6d7vvlPgkBaoFC0YzM4zdI9IwI/z42SslPkmBasGCdzPzd4MSn6RAtWABZpoRzJzWBdZPVodW0fYI9lJ2inbU&#x2B;gX6KrpGumt6h3qsF&#x2B;ogfwKl8X0sgOcPwAAAAABJRU5ErkJggg==" alt="QR Code" class="qr-medium" />
            <p class="qr-code-caption medium">MWT/W/01/A/1/2</p>
        </div>
    </div><style>
              .qr-code-container {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  gap: 0px;
                  padding: 0% 4%;
              }

              .qr-code-item {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
              }

              .qr-mini {
                  width: 135px;
              }

              .qr-medium {
                  width: 235px;
              }

              .qr-large {
                  width: 340px;
              }

              .qr-code-caption {
                  text-align: center;
                  font-weight: bold;
              }

              .mini {
                  margin-top: -10px;
                  font-size: 0.9em;
              }

              .medium {
                  margin-top: -20px;
                  font-size: 1.5em;
              }

              .large {
                  margin-top: -35px;
                  font-size: 1.8em;
              }
    </style>
</div>


<script>
    function printDiv() {
        var printContents = document.getElementById('printableArea').innerHTML;
        var newWindow = window.open('', '_blank');

        newWindow.document.write('<html><head><title>Print</title>');
        newWindow.document.write('</head><body>');
        newWindow.document.write(printContents);
        newWindow.document.write('</body></html>');
        newWindow.document.close();
        newWindow.print();
    }
</script>


@code {
    private async Task GeneratePDF()
    {
        await JSRuntime.InvokeVoidAsync("printDiv");
    }
}
