@using esWMS.Components.Alert
@inject AlertService AlertService

<style>
    .global-alert-container {
        position: fixed;
        top: 2%;
        right: 2%;
        left: 2%;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>

@if (_alerts.Any())
{
    <div class="global-alert-container">
        @foreach (var alert in _alerts.TakeLast(_alertMaxVisible).Reverse())
        {
            <MudAlert Severity="@alert.Severity"
                      Variant="Variant.Filled"
                      ShowCloseIcon="true"
                      CloseIconClicked="@(() => HideAlert(alert.Id))">
                @((MarkupString)alert.Message)
            </MudAlert>
        }
    </div>
}

@code {
    private List<Alert> _alerts = new();
    private int _alertMaxVisible = 5;

    private void ShowAlert(MarkupString message, Severity severity)
    {
        _alerts.Add(new Alert(Guid.NewGuid(), message, severity));

        StateHasChanged();
    }

    private void HideAlert(Guid id)
    {
        _alerts.RemoveAll(a => a.Id == id);

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        AlertService.OnShow += ShowAlert;
    }

    protected record Alert(Guid Id, MarkupString Message, Severity Severity);
}
